Questions I want answered:

1. What is the best strategy in each category (score, dice, smart)

2. How do they interact?

3. Smart is either 50/50 or slightly favors keeping all 50 point dice in initial measurements. Is there a situation(s) where smart is better?

4. Can the contribution of randomness be quantified?

Other goals:

1. Run complete Monte Carlo simulation in a single line in the next code cell.

2. Automatically calculate the number of games given a grid size and desired power.

3. Nicer visuals than rainbow matplotlib.  Maybe something interactive or can read the csv line by line and animate the runs effectively?

In [2]:
# ruff: noqa
import farkle.scoring_lookup as fsl
from typing import Counter
import copy
table = "table"
table = fsl.build_score_lookup_table()
print(len(table))
print(table)
lookup_table = table.copy()

def score_roll_cached(
    roll: list[int],
    lookup: dict = lookup_table,
) -> tuple[int, int, Counter[int], int, int]:
    """
    Return (score, used, counts, single_fives, single_ones) in O(1).
    """
    key = (
        roll.count(1), roll.count(2), roll.count(3),
        roll.count(4), roll.count(5), roll.count(6)
    )
    score, used, base_counts, sfives, sones = lookup[key]
    return score, used, base_counts.copy(), sfives, sones

print(score_roll_cached([1,1,1,5,5,5]))

923

In [ ]:
'''
ChatGPT authored script for coming up with 140 legal combinations of Score, Number_of_Dice, 
Used_Dice, Reroll_Dice, Single_Fives, Single_Ones
'''

# import importlib.util, sys, types, itertools, pandas as pd

# # ---------------------------------
# # 1.  Make the src folder importable
# # ---------------------------------
# SRC = "/mnt/data"
# if SRC not in sys.path:
#     sys.path.append(SRC)

# # Create a *minimal* `farkle` namespace that just points to that folder
# pkg_name = "farkle"
# if pkg_name not in sys.modules:
#     pkg = types.ModuleType(pkg_name)
#     pkg.__path__ = [SRC]
#     sys.modules[pkg_name] = pkg

# # ---------------------------------
# # 2.  Load the two core modules directly
# # ---------------------------------
# spec_lookup = importlib.util.spec_from_file_location("farkle.scoring_lookup", f"{SRC}/scoring_lookup.py")
# scoring_lookup = importlib.util.module_from_spec(spec_lookup)
# sys.modules["farkle.scoring_lookup"] = scoring_lookup
# spec_lookup.loader.exec_module(scoring_lookup)

# spec_scoring = importlib.util.spec_from_file_location("farkle.scoring", f"{SRC}/scoring.py")
# scoring = importlib.util.module_from_spec(spec_scoring)
# sys.modules["farkle.scoring"] = scoring
# spec_scoring.loader.exec_module(scoring)

# compute_raw_score = scoring.compute_raw_score

# # ---------------------------------
# # 3.  Enumerate every multiset of 16 dice
# # ---------------------------------
# records = []
# for n in range(1, 7):
#     for combo in itertools.combinations_with_replacement(range(1, 7), n):
#         roll = list(combo)
#         score, used, _counts, single_fives, single_ones = compute_raw_score(roll)
#         key = (
#             score, n, used, n - used,
#             single_fives, single_ones
#         )
#         records.append(key)

# # ---------------------------------
# # 4.  Collapse duplicates & build DataFrame
# # ---------------------------------
# unique = sorted(set(records), key=lambda k: (k[1], k[0], k[2], k[3]))
# df = pd.DataFrame(
#     unique,
#     columns=["Score", "Number_of_Dice", "Used_Dice", "Reroll_Dice",
#              "Single_Fives", "Single_Ones"]
# )

# # Save a CSV the user can download
# csv_path = "/mnt/data/farkle_scoring_patterns.csv"
# df.to_csv(csv_path, index=False)

# import ace_tools as tools; tools.display_dataframe_to_user("Farkle scoring patterns (140 unique cases)", df)

# csv_path

In [5]:
# ruff: noqa
from pathlib import Path

DATA_PATH_1 = Path.cwd().resolve().parent / "data" / "farkle_scores_data.csv"
DATA_PATH_2 = Path.cwd().resolve().parent / "data" / "farkle_scoring_patterns.csv"
print(DATA_PATH_1)
print(DATA_PATH_2)

S:\Libraries\OneDrive\Documents\Code Projects Parent Folder\Code Projects\Farkle Mk II\data\farkle_scores_data.csv
S:\Libraries\OneDrive\Documents\Code Projects Parent Folder\Code Projects\Farkle Mk II\data\farkle_scoring_patterns.csv

In [27]:
import pandas as pd

combos = pd.read_csv(DATA_PATH_2)
scoring_rolls = pd.read_csv(DATA_PATH_1)

combos["Nonscoring"] = combos["Number_of_Dice"]-combos["Used_Dice"]
scoring_rolls["Nonscoring"] = scoring_rolls["Number_of_Dice"]-scoring_rolls["Used_Dice"]

In [12]:
combos

,Score,Number_of_Dice,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones,Nonscoring
0,0,1,0,1,0,0,1
1,50,1,1,0,1,0,0
2,100,1,1,0,0,1,0
3,0,2,0,2,0,0,2
4,50,2,1,1,1,0,1
...,...,...,...,...,...,...,...
135,2000,6,5,1,0,0,1
136,2050,6,6,0,1,0,0
137,2100,6,6,0,0,1,0
138,2500,6,6,0,0,0,0
139,3000,6,6,0,0,0,0

In [14]:
scoring_rolls

,Score,Number_of_Dice,Dice_Roll,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones,Nonscoring
0,100,1,[1],1,0,0,1,0
1,0,1,[2],0,1,0,0,1
2,50,1,[5],1,0,1,0,0
3,200,2,"[1, 1]",2,0,0,2,0
4,100,2,"[1, 2]",1,1,0,1,1
...,...,...,...,...,...,...,...,...
81,150,6,"[1, 2, 2, 3, 3, 5]",2,4,1,1,4
82,750,6,"[1, 2, 5, 6, 6, 6]",5,1,1,1,1
83,50,6,"[2, 2, 3, 3, 4, 5]",1,5,1,0,5
84,0,6,"[2, 2, 3, 3, 4, 6]",0,6,0,0,6
85,1500,6,"[1, 2, 3, 4, 5, 6]",6,0,0,0,0

In [9]:
print(combos.columns)

Index(['Score', 'Number_of_Dice', 'Used_Dice', 'Reroll_Dice', 'Single_Fives',
       'Single_Ones', 'Nonscoring'],
      dtype='object')

In [15]:
seen_combos = scoring_rolls[combos.columns].drop_duplicates()

In [16]:
seen_combos

,Score,Number_of_Dice,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones,Nonscoring
0,100,1,1,0,0,1,0
1,0,1,0,1,0,0,1
2,50,1,1,0,1,0,0
3,200,2,2,0,0,2,0
4,100,2,1,1,0,1,1
...,...,...,...,...,...,...,...
80,100,6,1,5,0,1,5
81,150,6,2,4,1,1,4
82,750,6,5,1,1,1,1
83,50,6,1,5,1,0,5
84,0,6,0,6,0,0,6

In [19]:
merged = combos.merge(
    seen_combos,
    on=list(combos.columns),
    how="left",
    indicator=True
)

In [20]:
merged

,Score,Number_of_Dice,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones,Nonscoring,_merge
0,0,1,0,1,0,0,1,both
1,50,1,1,0,1,0,0,both
2,100,1,1,0,0,1,0,both
3,0,2,0,2,0,0,2,both
4,50,2,1,1,1,0,1,both
...,...,...,...,...,...,...,...,...
135,2000,6,5,1,0,0,1,both
136,2050,6,6,0,1,0,0,both
137,2100,6,6,0,0,1,0,both
138,2500,6,6,0,0,0,0,both
139,3000,6,6,0,0,0,0,both

In [21]:
missing_combos = merged[merged["_merge"] == "left_only"][list(combos.columns)]

In [22]:
missing_combos

,Score,Number_of_Dice,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones,Nonscoring
12,100,3,2,1,2,0,1
15,200,3,3,0,0,0,0
16,200,3,3,0,2,1,0
25,100,4,2,2,2,0,2
28,200,4,3,1,2,1,1
29,200,4,3,1,0,0,1
31,250,4,4,0,1,0,0
33,300,4,4,0,2,2,0
34,300,4,4,0,0,1,0
36,400,4,3,1,0,0,1
39,500,4,3,1,0,0,1
41,600,4,3,1,0,0,1
49,100,5,2,3,2,0,3
52,200,5,3,2,0,0,2
53,200,5,3,2,2,1,2
55,250,5,4,1,1,0,1
57,300,5,4,1,2,2,1
58,300,5,4,1,0,1,1
59,300,5,5,0,2,0,0
61,350,5,5,0,1,1,0
62,400,5,3,2,0,0,2
63,400,5,4,1,0,1,1
65,400,5,5,0,0,2,0
66,450,5,4,1,1,0,1
68,500,5,3,2,0,0,2
69,500,5,4,1,0,1,1
70,500,5,5,0,2,0,0
73,600,5,3,2,0,0,2
74,600,5,4,1,0,1,1
77,700,5,4,1,0,1,1
78,700,5,5,0,2,0,0
89,100,6,2,4,2,0,4
92,200,6,3,3,2,1,3
93,200,6,3,3,0,0,3
95,250,6,4,2,1,0,2
97,300,6,4,2,2,2,2
98,300,6,4,2,0,1,2
99,300,6,5,1,2,0,1
101,350,6,5,1,1,1,1
102,400,6,3,3,0,0,3
103,400,6,4,2,0,1,2
105,400,6,5,1,0,2,1
106,400,6,6,0,2,1,0
107,450,6,4,2,1,0,2
108,450,6,5,1,1,1,1
110,500,6,3,3,0,0,3
111,500,6,4,2,0,1,2
112,500,6,5,1,2,0,1
114,500,6,6,0,2,1,0
115,550,6,5,1,1,1,1
117,600,6,3,3,0,0,3
118,600,6,4,2,0,1,2
120,600,6,6,0,2,1,0
121,650,6,4,2,1,0,2
123,700,6,4,2,0,1,2
124,700,6,5,1,2,0,1
128,800,6,6,0,2,1,0

In [28]:
scoring_rolls["Is_duplicate"] = scoring_rolls.duplicated(subset=list(combos.columns), keep=False)

In [29]:
scoring_rolls

,Score,Number_of_Dice,Dice_Roll,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones,Nonscoring,Is_duplicate
0,100,1,[1],1,0,0,1,0,False
1,0,1,[2],0,1,0,0,1,False
2,50,1,[5],1,0,1,0,0,False
3,200,2,"[1, 1]",2,0,0,2,0,False
4,100,2,"[1, 2]",1,1,0,1,1,False
...,...,...,...,...,...,...,...,...,...
81,150,6,"[1, 2, 2, 3, 3, 5]",2,4,1,1,4,False
82,750,6,"[1, 2, 5, 6, 6, 6]",5,1,1,1,1,False
83,50,6,"[2, 2, 3, 3, 4, 5]",1,5,1,0,5,False
84,0,6,"[2, 2, 3, 3, 4, 6]",0,6,0,0,6,False
85,1500,6,"[1, 2, 3, 4, 5, 6]",6,0,0,0,0,True

In [30]:
dupes = scoring_rolls[scoring_rolls["Is_duplicate"]==True]
dupes

,Score,Number_of_Dice,Dice_Roll,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones,Nonscoring,Is_duplicate
58,1500,6,"[1, 1, 1, 1, 5, 5]",6,0,0,0,0,True
59,1500,6,"[1, 1, 1, 1, 2, 2]",6,0,0,0,0,True
68,1500,6,"[1, 1, 2, 2, 3, 3]",6,0,0,0,0,True
85,1500,6,"[1, 2, 3, 4, 5, 6]",6,0,0,0,0,True

In [31]:
score_1500 = scoring_rolls[scoring_rolls["Score"]==1500]
score_1500

,Score,Number_of_Dice,Dice_Roll,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones,Nonscoring,Is_duplicate
58,1500,6,"[1, 1, 1, 1, 5, 5]",6,0,0,0,0,True
59,1500,6,"[1, 1, 1, 1, 2, 2]",6,0,0,0,0,True
68,1500,6,"[1, 1, 2, 2, 3, 3]",6,0,0,0,0,True
85,1500,6,"[1, 2, 3, 4, 5, 6]",6,0,0,0,0,True

In [32]:
DATA_PATH_3 = Path.cwd().resolve().parent / "data" / "farkle_missing_patterns.csv"
missing_combos.to_csv(DATA_PATH_3, index=False, header=True)

In [34]:
# Renamed the output csv from above so I don't accidentally overwrite it
DATA_PATH_4 = Path.cwd().resolve().parent / "data" / "farkle_missing_patterns_1.csv"
combo_updates = pd.read_csv(DATA_PATH_4)
combo_updates

,Score,Number_of_Dice,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones,Nonscoring,Dice_Roll
0,100,3,2,1,2,0,1,"[2, 5, 5]"
1,200,3,3,0,0,0,0,"[2, 2, 2]"
2,200,3,3,0,2,1,0,"[1, 5, 5]"
3,200,4,3,1,2,1,1,"[1, 2, 5, 5]"
4,200,4,3,1,0,0,1,"[2, 2, 2, 3]"
5,250,4,4,0,1,0,0,"[2, 2, 2, 5]"
6,300,4,4,0,2,2,0,"[1, 1, 5, 5]"
7,300,4,4,0,0,1,0,"[1, 2, 2, 2]"
8,400,4,3,1,0,0,1,"[2, 4, 4, 4]"
9,500,4,3,1,0,0,1,"[5, 5, 5, 6]"
10,600,4,3,1,0,0,1,"[2, 6, 6, 6]"
11,100,5,2,3,2,0,3,"[2, 3, 4, 5, 5]"
12,200,5,3,2,0,0,2,"[2, 2, 2, 3, 4]"
13,200,5,3,2,2,1,2,"[1, 2, 3, 5, 5]"
14,250,5,4,1,1,0,1,"[2, 2, 2, 3, 5]"
15,300,5,4,1,2,2,1,"[1, 1, 2, 5, 5]"
16,300,5,4,1,0,1,1,"[1, 2, 2, 2, 3]"
17,300,5,5,0,2,0,0,"[2, 2, 2, 5, 5]"
18,350,5,5,0,1,1,0,"[1, 2, 2, 2, 5]"
19,400,5,3,2,0,0,2,"[2, 3, 4, 4, 4]"
20,400,5,4,1,0,1,1,"[1, 3, 3, 3, 4]"
21,400,5,5,0,0,2,0,"[1, 1, 2, 2, 2]"
22,450,5,4,1,1,0,1,"[2, 4, 4, 4, 5]"
23,500,5,3,2,0,0,2,"[5, 5, 5, 6, 6]"
24,500,5,4,1,0,1,1,"[1, 2, 4, 4, 4]"
25,500,5,5,0,2,0,0,"[4, 4, 4, 5, 5]"
26,600,5,3,2,0,0,2,"[2, 3, 6, 6, 6]"
27,600,5,4,1,0,1,1,"[1, 2, 5, 5, 5]"
28,700,5,4,1,0,1,1,"[1, 2, 6, 6, 6]"
29,700,5,5,0,2,0,0,"[5, 5, 6, 6, 6]"
30,100,6,2,4,2,0,4,"[2, 3, 4, 5, 5, 6]"
31,200,6,3,3,2,1,3,"[1, 2, 3, 4, 5, 5]"
32,200,6,3,3,0,0,3,"[2, 2, 2, 3, 4, 6]"
33,250,6,4,2,1,0,2,"[2, 2, 2, 3, 4, 5]"
34,300,6,4,2,2,2,2,"[1, 1, 2, 3, 5, 5]"
35,300,6,4,2,0,1,2,"[1, 2, 2, 2, 3, 4]"
36,300,6,5,1,2,0,1,"[2, 2, 2, 3, 5, 5]"
37,350,6,5,1,1,1,1,"[1, 2, 2, 2, 3, 5]"
38,400,6,3,3,0,0,3,"[2, 3, 4, 4, 4, 6]"
39,400,6,4,2,0,1,2,"[1, 2, 3, 3, 3, 4]"
40,400,6,5,1,0,2,1,"[1, 1, 2, 2, 2, 3]"
41,400,6,6,0,2,1,0,"[1, 2, 2, 2, 5, 5]"
42,450,6,4,2,1,0,2,"[2, 3, 4, 4, 4, 5]"
43,450,6,5,1,1,1,1,"[1, 2, 3, 3, 3, 5]"
44,500,6,3,3,0,0,3,"[2, 3, 4, 5, 5, 5]"
45,500,6,4,2,0,1,2,"[1, 2, 3, 4, 4, 4]"
46,500,6,5,1,2,0,1,"[2, 4, 4, 4, 5, 5]"
47,500,6,6,0,2,1,0,"[1, 3, 3, 3, 5, 5]"
48,550,6,5,1,1,1,1,"[1, 2, 4, 4, 4, 5]"
49,600,6,3,3,0,0,3,"[2, 3, 4, 6, 6, 6]"
50,600,6,4,2,0,1,2,"[1, 2, 3, 5, 5, 5]"
51,600,6,6,0,2,1,0,"[1, 4, 4, 4, 5, 5]"
52,650,6,4,2,1,0,2,"[2, 3, 5, 6, 6, 6]"
53,700,6,4,2,0,1,2,"[1, 2, 3, 6, 6, 6]"
54,700,6,5,1,2,0,1,"[2, 5, 5, 6, 6, 6]"
55,800,6,6,0,2,1,0,"[1, 5, 5, 6, 6, 6]"

In [35]:
format_combo_updates = combo_updates[["Score", "Number_of_Dice", "Dice_Roll", "Used_Dice", "Reroll_Dice", "Single_Fives", "Single_Ones"]]
format_combo_updates

,Score,Number_of_Dice,Dice_Roll,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones
0,100,3,"[2, 5, 5]",2,1,2,0
1,200,3,"[2, 2, 2]",3,0,0,0
2,200,3,"[1, 5, 5]",3,0,2,1
3,200,4,"[1, 2, 5, 5]",3,1,2,1
4,200,4,"[2, 2, 2, 3]",3,1,0,0
5,250,4,"[2, 2, 2, 5]",4,0,1,0
6,300,4,"[1, 1, 5, 5]",4,0,2,2
7,300,4,"[1, 2, 2, 2]",4,0,0,1
8,400,4,"[2, 4, 4, 4]",3,1,0,0
9,500,4,"[5, 5, 5, 6]",3,1,0,0
10,600,4,"[2, 6, 6, 6]",3,1,0,0
11,100,5,"[2, 3, 4, 5, 5]",2,3,2,0
12,200,5,"[2, 2, 2, 3, 4]",3,2,0,0
13,200,5,"[1, 2, 3, 5, 5]",3,2,2,1
14,250,5,"[2, 2, 2, 3, 5]",4,1,1,0
15,300,5,"[1, 1, 2, 5, 5]",4,1,2,2
16,300,5,"[1, 2, 2, 2, 3]",4,1,0,1
17,300,5,"[2, 2, 2, 5, 5]",5,0,2,0
18,350,5,"[1, 2, 2, 2, 5]",5,0,1,1
19,400,5,"[2, 3, 4, 4, 4]",3,2,0,0
20,400,5,"[1, 3, 3, 3, 4]",4,1,0,1
21,400,5,"[1, 1, 2, 2, 2]",5,0,0,2
22,450,5,"[2, 4, 4, 4, 5]",4,1,1,0
23,500,5,"[5, 5, 5, 6, 6]",3,2,0,0
24,500,5,"[1, 2, 4, 4, 4]",4,1,0,1
25,500,5,"[4, 4, 4, 5, 5]",5,0,2,0
26,600,5,"[2, 3, 6, 6, 6]",3,2,0,0
27,600,5,"[1, 2, 5, 5, 5]",4,1,0,1
28,700,5,"[1, 2, 6, 6, 6]",4,1,0,1
29,700,5,"[5, 5, 6, 6, 6]",5,0,2,0
30,100,6,"[2, 3, 4, 5, 5, 6]",2,4,2,0
31,200,6,"[1, 2, 3, 4, 5, 5]",3,3,2,1
32,200,6,"[2, 2, 2, 3, 4, 6]",3,3,0,0
33,250,6,"[2, 2, 2, 3, 4, 5]",4,2,1,0
34,300,6,"[1, 1, 2, 3, 5, 5]",4,2,2,2
35,300,6,"[1, 2, 2, 2, 3, 4]",4,2,0,1
36,300,6,"[2, 2, 2, 3, 5, 5]",5,1,2,0
37,350,6,"[1, 2, 2, 2, 3, 5]",5,1,1,1
38,400,6,"[2, 3, 4, 4, 4, 6]",3,3,0,0
39,400,6,"[1, 2, 3, 3, 3, 4]",4,2,0,1
40,400,6,"[1, 1, 2, 2, 2, 3]",5,1,0,2
41,400,6,"[1, 2, 2, 2, 5, 5]",6,0,2,1
42,450,6,"[2, 3, 4, 4, 4, 5]",4,2,1,0
43,450,6,"[1, 2, 3, 3, 3, 5]",5,1,1,1
44,500,6,"[2, 3, 4, 5, 5, 5]",3,3,0,0
45,500,6,"[1, 2, 3, 4, 4, 4]",4,2,0,1
46,500,6,"[2, 4, 4, 4, 5, 5]",5,1,2,0
47,500,6,"[1, 3, 3, 3, 5, 5]",6,0,2,1
48,550,6,"[1, 2, 4, 4, 4, 5]",5,1,1,1
49,600,6,"[2, 3, 4, 6, 6, 6]",3,3,0,0
50,600,6,"[1, 2, 3, 5, 5, 5]",4,2,0,1
51,600,6,"[1, 4, 4, 4, 5, 5]",6,0,2,1
52,650,6,"[2, 3, 5, 6, 6, 6]",4,2,1,0
53,700,6,"[1, 2, 3, 6, 6, 6]",4,2,0,1
54,700,6,"[2, 5, 5, 6, 6, 6]",5,1,2,0
55,800,6,"[1, 5, 5, 6, 6, 6]",6,0,2,1

In [36]:
scoring_rolls_2 = pd.read_csv(DATA_PATH_1) # reloading fresh
all_scoring_combos = pd.concat([scoring_rolls_2, format_combo_updates], ignore_index=True)
all_scoring_combos

,Score,Number_of_Dice,Dice_Roll,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones
0,100,1,[1],1,0,0,1
1,0,1,[2],0,1,0,0
2,50,1,[5],1,0,1,0
3,200,2,"[1, 1]",2,0,0,2
4,100,2,"[1, 2]",1,1,0,1
...,...,...,...,...,...,...,...
137,600,6,"[1, 4, 4, 4, 5, 5]",6,0,2,1
138,650,6,"[2, 3, 5, 6, 6, 6]",4,2,1,0
139,700,6,"[1, 2, 3, 6, 6, 6]",4,2,0,1
140,700,6,"[2, 5, 5, 6, 6, 6]",5,1,2,0
141,800,6,"[1, 5, 5, 6, 6, 6]",6,0,2,1

In [37]:
format_all_scoring_combos = all_scoring_combos.sort_values(by=["Number_of_Dice", "Score", "Dice_Roll"], ascending=True)
format_all_scoring_combos

,Score,Number_of_Dice,Dice_Roll,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones
1,0,1,[2],0,1,0,0
2,50,1,[5],1,0,1,0
0,100,1,[1],1,0,0,1
6,0,2,"[2, 2]",0,2,0,0
7,50,2,"[2, 5]",1,1,1,0
...,...,...,...,...,...,...,...
56,2000,6,"[1, 1, 1, 1, 1, 2]",5,1,0,0
57,2050,6,"[1, 1, 1, 1, 1, 5]",6,0,1,0
78,2100,6,"[1, 2, 2, 2, 2, 2]",6,0,0,1
63,2500,6,"[1, 1, 1, 2, 2, 2]",6,0,0,0
55,3000,6,"[1, 1, 1, 1, 1, 1]",6,0,0,0

In [ ]:
# DATA_PATH_5 = Path.cwd().resolve().parent / "data" / "farkle_all_scoring_combos.csv"
# format_all_scoring_combos.to_csv(DATA_PATH_5, index = False) 
# Commented out because I made manual additions

In [44]:
DATA_PATH_6 = Path.cwd().resolve().parent / "data" / "farkle_all_scoring_combos.csv"
df = pd.read_csv(DATA_PATH_6)

df["Is_duplicate"] = df.duplicated(subset=['Score', 'Number_of_Dice', 'Used_Dice', 'Reroll_Dice', 'Single_Fives', 'Single_Ones'], keep=False)
df

,Score,Number_of_Dice,Dice_Roll,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones,Is_duplicate
0,0,1,[2],0,1,0,0,False
1,50,1,[5],1,0,1,0,False
2,100,1,[1],1,0,0,1,False
3,0,2,"[2, 2]",0,2,0,0,False
4,50,2,"[2, 5]",1,1,1,0,False
...,...,...,...,...,...,...,...,...
148,2100,6,"[1, 2, 2, 2, 2, 2]",6,0,0,1,False
149,2500,6,"[1, 1, 1, 2, 2, 2]",6,0,0,0,False
150,3000,6,"[1, 1, 1, 1, 1, 1]",6,0,0,0,True
151,3000,6,"[2, 2, 2, 2, 2, 2]",6,0,0,0,True
152,3000,6,"[5, 5, 5, 5, 5, 5]",6,0,0,0,True

In [41]:
print(list(combos.columns))

['Score', 'Number_of_Dice', 'Used_Dice', 'Reroll_Dice', 'Single_Fives', 'Single_Ones', 'Nonscoring']

In [45]:
duplicates_from_all = df[df["Is_duplicate"]==True]
duplicates_from_all

,Score,Number_of_Dice,Dice_Roll,Used_Dice,Reroll_Dice,Single_Fives,Single_Ones,Is_duplicate
18,300,3,"[1, 1, 1]",3,0,0,0,True
19,300,3,"[3, 3, 3]",3,0,0,0,True
32,300,4,"[1, 1, 1, 2]",3,1,0,0,True
33,300,4,"[3, 3, 3, 4]",3,1,0,0,True
36,350,4,"[1, 1, 1, 5]",4,0,1,0,True
37,350,4,"[3, 3, 3, 5]",4,0,1,0,True
58,300,5,"[1, 1, 1, 2, 2]",3,2,0,0,True
59,300,5,"[3, 3, 3, 4, 4]",3,2,0,0,True
63,350,5,"[1, 1, 1, 2, 5]",4,1,1,0,True
64,350,5,"[3, 3, 3, 4, 5]",4,1,1,0,True
66,400,5,"[1, 1, 1, 5, 5]",5,0,2,0,True
67,400,5,"[3, 3, 3, 5, 5]",5,0,2,0,True
101,300,6,"[1, 1, 1, 2, 2, 3]",3,3,0,0,True
102,300,6,"[3, 3, 3, 4, 4, 6]",3,3,0,0,True
106,350,6,"[1, 1, 1, 2, 2, 5]",4,2,1,0,True
107,350,6,"[3, 3, 3, 4, 4, 5]",4,2,1,0,True
109,400,6,"[1, 1, 1, 2, 5, 5]",5,1,2,0,True
110,400,6,"[3, 3, 3, 4, 5, 5]",5,1,2,0,True
142,1500,6,"[1, 1, 1, 1, 2, 2]",6,0,0,0,True
143,1500,6,"[1, 1, 1, 1, 5, 5]",6,0,0,0,True
144,1500,6,"[1, 1, 2, 2, 3, 3]",6,0,0,0,True
145,1500,6,"[1, 2, 3, 4, 5, 6]",6,0,0,0,True
150,3000,6,"[1, 1, 1, 1, 1, 1]",6,0,0,0,True
151,3000,6,"[2, 2, 2, 2, 2, 2]",6,0,0,0,True
152,3000,6,"[5, 5, 5, 5, 5, 5]",6,0,0,0,True

In [51]:
from farkle.simulation import generate_strategy_grid
grid1, grid2 = generate_strategy_grid()

In [52]:
grid1_df = pd.DataFrame(grid1)
grid2_df = pd.DataFrame(grid2)

In [53]:
grid1_df.describe()

       score_threshold  dice_threshold
count      1275.000000     1275.000000
mean        600.000000        2.000000
std         245.045089        1.414768
min         200.000000        0.000000
25%         400.000000        1.000000
50%         600.000000        2.000000
75%         800.000000        3.000000
max        1000.000000        4.000000

In [54]:
grid2_df.describe()

       score_threshold  dice_threshold  strategy_idx
count      1275.000000     1275.000000   1275.000000
mean        600.000000        2.000000    637.000000
std         245.045089        1.414768    368.205106
min         200.000000        0.000000      0.000000
25%         400.000000        1.000000    318.500000
50%         600.000000        2.000000    637.000000
75%         800.000000        3.000000    955.500000
max        1000.000000        4.000000   1274.000000

In [56]:
grid2.head()

,score_threshold,dice_threshold,smart_five,smart_one,consider_score,consider_dice,require_both,strategy_idx
0,200,0,True,True,True,True,True,0
1,200,0,True,True,True,True,False,1
2,200,0,True,True,True,False,True,2
3,200,0,True,True,False,True,True,3
4,200,0,True,True,False,False,True,4

In [58]:
grid1_df

,score_threshold,dice_threshold,smart_five,smart_one,consider_score,consider_dice,require_both
0,200,0,True,True,True,True,True
1,200,0,True,True,True,True,False
2,200,0,True,True,True,False,True
3,200,0,True,True,False,True,True
4,200,0,True,True,False,False,True
...,...,...,...,...,...,...,...
1270,1000,4,False,False,True,True,True
1271,1000,4,False,False,True,True,False
1272,1000,4,False,False,True,False,True
1273,1000,4,False,False,False,True,True
1274,1000,4,False,False,False,False,True